<%- include("style.ejs") %> 
<%- include("tablet-style.ejs") %> 

<section class="block myWork" id="myWork">
    <div class="thirdContainer">
        <div class="work">
            <h1>My first job</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio officia, molestias praesentium animi quo error doloribus ut accusantium excepturi rerum.</p>
        </div>
        <div class="work">
            <h1>My second job</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae quod, repudiandae accusamus nihil nulla ipsam.</p>
        </div>
        <div class="work long">
            <h1>My third job</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, autem! Corporis ex nisi qui officia repellat ipsam vero facilis voluptatibus?</p>
        </div>
    </div>
</section>