<%- include("style.ejs") %> 

<section class="block myWork" id="myWork">
    <div class="thirdContainer">
        <div class="work work1">
            <h1>My first job</h1>
        </div>
        <div class="work work2">
            <h1>My second job</h1>
        </div>
        <div class="work work3">
            <h1>My third job</h1>
        </div>
        <div class="work work4">
            <h1>My fourth job</h1>
        </div>
    </div>
    <!-- <div id="popup">
        <div id="selectedWork">
            <h1>WORK</h1>
        </div>
    </div>        -->
</section>