<%- include("styling/home-styling.ejs") %> 

<div id="mainPage" class="mainPage">
    <div class="homeBackParag">
      <div class="par-box1">
        <p id="par1">Physics</p>
      </div>
      <div class="par-box2">
        <p id="par2">Mathematics</p>
      </div>  
      <div class="par-box3">
        <p id="par3">Programming</p>
      </div>
      <div class="par-box4">
        <p id="par4">Design</p>
      </div>            
    </div>
    <div class="myFoto"></div>
    <div class="introduction">
        <h1>Welcome to my</h1>
        <h1>personal website</h1>
    </div>
</div>

<%- include("scripts/home-script.ejs") %>