<%- include("styling/home-styling.ejs") %> 

<div class="mainPage">
    <div class="homeBackParag">
        <p>Physics</p>
        <p>Mathematics</p>
        <p>Programming</p>
        <p>Design</p>
    </div>
    <div class="introduction">
        <h1>Welcome to my</h1>
        <h1>personal website</h1>
    </div>
</div>
