<%- include("styling/home-styling.ejs") %> 

<div id="mainPage" class="mainPage">
    <div class="introduction">
        <p>SAMUEL ŠIPIKAL</p>
        <h1>Welcome to my</h1>
        <h1>personal portfolio</h1>
    </div>
</div>

<%- include("scripts/home-script.ejs") %>