<%- include("styling/horizontal-styling.ejs") %> 

<section class="horizontal">
    <%- include("partials/about-me/about-me.ejs") %>
    <%- include("partials/my-work/my-work.ejs") %> 
    <%- include("partials/contacts/contacts.ejs") %>  
</section>