<%- include("style.ejs") %> 

<section class="block contacts" id="contacts">
    <div class="fourthContainer">
    <form method="POST" action="send">
        <div class="contactsTitle">
          <h2>CONTACT ME</h2>
        </div>
        <div class="half">
          <div class="item">
            <label for="name">NAME</label>
            <input type="text" name="name" id = "idName">
          </div>
          <div class="item">
            <label for="email">EMAIL</label>
            <input type="text" name="email" id = "email">
          </div>
        </div>
        <div class="full">
          <label for="message">MESSAGE</label>
          <textarea name="message" id = "message"></textarea>
        </div>
        <div class="action">
          <input type="submit" value = "SEND MESSAGE">
          <input type="reset" value = "RESET">
        </div>
        <div class="icons">
          <a href="https://www.facebook.com/samo.sipikal" class = "fa fa-facebook"></a>
          <a href="https://www.instagram.com/samo_sipikal/" class = "fa fa-instagram"></a>
          <a href="https://github.com/SamuelFoc" class = "fa fa-github"></a>
        </div>
    </form>
    </div>
      <%- include("script.ejs") %> 
</section>

