<%- include("style.ejs") %> 

<section class="block aboutMe" id="firstHorizontalPage">
    <div class="firstContainer">
        <div class="box box1">
            <h1>Born in Slovakia</h1>    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, dolorum, consectetur autem exercitationem eum itaque eveniet aperiam ratione corporis incidunt aliquam dicta distinctio iusto accusantium tempore temporibus officia architecto sequi!</p>
        </div>
        <div class="box box2">
            <h1>Studied at CTU</h1>
            <p>Faculty of Nuclear Sciences and Physical Engineering. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi sint cumque repellendus quae consequatur exercitationem beatae doloremque qui quia dolore.</p>
        </div>
    </div>
</section>