<%- include("style.ejs") %>
<%- include("mobile-style.ejs") %>  
<%- include("tablet-style.ejs") %>

<section class="block aboutMe" id="aboutMe">
    <div class="firstContainer">
        <div class="box box1">
            <h1 onclick="myRedirect('https://en.wikipedia.org/wiki/Slovakia')">Born in Slovakia</h1>    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, dolorum, consectetur autem exercitationem eum itaque eveniet aperiam ratione corporis incidunt aliquam dicta.</p>
        </div>
        <div class="box box2">
            <h1 onclick="myRedirect('https://www.fjfi.cvut.cz/en/')">Studied at CTU</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, dolorum, consectetur autem exercitationem eum itaque eveniet aperiam ratione corporis incidunt aliquam dicta.</p>
        </div>
    </div>
</section>

<%- include("script.ejs") %> 
