<%- include("style.ejs") %> 

<div class="aboutMe">
    <div class="firstContainer">
        <div class="box box1">
            <div class="box-text">
                <img src="/images/hightatras.jpg">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum maxime similique recusandae fugiat illum qui, nulla a accusantium tempora repellat dolore voluptatum et consequatur vel quisquam deserunt itaque labore amet adipisci rerum libero modi iusto? Blanditiis pariatur praesentium iusto vel?</p>
            </div>
        </div>
        <div class="box box2">
            <div class="box-text">
                <img src="/images/slovakiaBW.jpg">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum maxime similique recusandae fugiat illum qui, nulla a accusantium tempora repellat dolore voluptatum et consequatur vel quisquam deserunt itaque labore amet adipisci rerum libero modi iusto? Blanditiis pariatur praesentium iusto vel?</p>
            </div>
        </div>
        <div class="box box3">
            <div class="box-text">
                <img src="/images/hightatrasbetter.jpg">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum maxime similique recusandae fugiat illum qui, nulla a accusantium tempora repellat dolore voluptatum et consequatur vel quisquam deserunt itaque labore amet adipisci rerum libero modi iusto? Blanditiis pariatur praesentium iusto vel?</p>
            </div>
        </div>
    </div>
</div>