<%- include("style.ejs") %> 

<nav class="navigationBar" id="navigationBar">
    <ul>
        <li class="name">Samuel Šipikal</li>
        <li class="nav-li">About me</li>
        <li class="nav-li">My work</li>
        <li class="nav-li">Contacts</li>
    </ul>
</nav>