<%- include("style.ejs") %> 
<%- include("tablet-style.ejs") %> 

<nav class="navigationBar" id="navigationBar">
    <ul>
        <li class="name" onclick="scrollToHomePage()">Samuel Šipikal</li>
        <li class="nav-li" onclick="scrollToAboutmePage()">About me</li>
        <li class="nav-li" onclick="scrollToMyworkPage()">My work</li>
        <li class="nav-li" onclick="scrollToContactsPage()">Contacts</li>
    </ul>
</nav>

<%- include("script.ejs") %> 